.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 100%;
    gap: 50px;
}
.top a{
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    color: initial;
}
.searchContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 840px;
    height: 38px;
    background-color: #EFEAE7;
    border-radius: 21px;
}
.searchContainer p{
    font-size: 17px;
    font-weight: 500;
    margin-left: 20px;
}
.searchButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    border-radius: 13px;
    background-color: black;
    border: none;
    margin-right: 10px;
    cursor: pointer;

}
.searchButton:hover{
    background-color: rgb(61, 61, 61);
}
.searchButton:active{
    background-color: black;
}
.searchIcon{
    color: white;
    font-size: 20px;
}
.menuIcon{
    font-size: 34px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.menuIcon:hover{
    transform: scale(1.07,1.07);
}

.extras{
    height: 45px;
    display: flex;
    flex-direction: row;
    gap: 120px;
}
.extras p{
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s ease;
}
.extras p:hover{
    color: rgb(114, 114, 114);
}