.main{
    background-color: #EFEAE7;
    height: 3000px;
    
}
.itens{
    padding: 20px;
    display: grid;
    gap: 41px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.adicionais{
    margin: 20px 0 0 0;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.adicionais p{
    font-size: 18px;
    font-weight: 600;
}
.ordernar{
    display: flex;
    flex-direction: row;
}
.ordernar p:nth-child(1){
    font-weight: 400;
    margin: 0 15px 0 0;
}
.ordernar p:nth-child(2){
    font-weight: 700;
    cursor: pointer;
}